body {
    background-color: #eee;
    margin: 0;
}

.card-container {
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.card {
    background-color: #ddd;
    padding: 0.4rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem gray;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.card h1 {
    font-size: 1rem;
    margin: 0.1rem;
}

.card input {
    margin: 0.2rem;
}

#menu {
    flex-direction: row;
    padding: 0;
}

#menu button {
    margin: 0.2rem;
}

#gamepad {
    width: 10rem;
}

#gamepad-buttons {
    display: flex;
    flex-wrap: wrap;
}

.gamepad-button {
    background-color: gray;
    height: 1.2rem;
    width: 1.2rem;
    text-align: center;
    font-size: 1rem;
    margin: 0.1rem;
    border-radius: 0.2rem;
}

.gamepad-button p {
    margin: auto 0 auto 0;
    line-height: 1.2rem;
    padding-top: 0.1rem;
}

#gamepad-buttons .pressed {
    background-color: darkblue;
    color: azure;
}

.gamepad-axis {
    height: 1.2rem;
    margin-left: 0.2rem;
    display: flex;
    justify-content: flex-start;
}

.gamepad-axis input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: gray;
    border-radius: 0.2rem;
}

.gamepad-axis input::-moz-range-thumb {
    background: darkblue;
    border: none;
    height: 0.8rem;
    width: 0.2rem;
    border-radius: 0;
}

.gamepad-axis label {
    padding-top: 0.3rem;
}

#servos {
    display: flex;
}

.servo {
    width: 15rem;
    display: flex;
    flex-direction: column;
}

.servo-row {
    display: flex;
    justify-content: space-between;
}

.servo input {
    height: 1rem;
    background: none;
}

.servo input:hover {
    cursor: pointer;
}

.servo-row .dropdown {
    width: 3rem;
}

.servo ::-moz-range-thumb {
    height: 1rem;
    width: 0.5rem;
}

.servo ::-moz-range-track {
    background: darkblue;
    height: 0.25rem;
}

#logger {
    height: 10rem;
    overflow: scroll;
}

#logger p {
    margin: 0;
}

.add-action-row input {
    width: 7rem;
}